---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Container from "@/components/Container.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import TeachersList from "@/components/Teachers.astro";
import { t } from "@/i18n";

const locale = "en";
const pageTitle = t(locale, "teamPage.title");
const heading = t(locale, "teamPage.heading");
const description = t(locale, "teamPage.description");
---

<Layout title={pageTitle} locale={locale}>
	<Section>
		<Container>
			<SectionHeading>
				<h1 class="text-4xl font-bold">{heading}</h1>
				<p>{description}</p>
			</SectionHeading>
			<TeachersList locale={locale} />
		</Container>
	</Section>
</Layout>
